.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

.button {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
    background-color: black;
    color: white;
}
